node_modules
npm-debug.log
yarn-error.log
Dockerfile
Dockerfile.web

.idea
.vscode

coverage
build
functions
public/bundle.js
public/bundle.js.br
public/sw.js

.env
.env.local
.gitignore

db.sqlite3

Procfile
